# Исключаем каталоги для файлов кэша Python
__pycache__/
*.py[cod]

# Исключаем виртуальные окружения
venv/
env/
.venv/
.env/

# Исключаем файлы конфигурации IDE
.vscode/
.idea/

# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем файлы журналов и временные файлы
*.log
*.tmp

# Исключаем файлы зависимостей
Pipfile.lock
poetry.lock

# Исключаем файлы базы данных SQLite
*.sqlite3
